*{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

body {
	font-family: helvetica, sans-serif;
	font-size: 18px;
	color: #red;
	line-height: 1.5;
	margin: 10px auto;
	padding: 50px;
	background-color: #ffffff;
	max-width: 960px;
}

a{
	text-decoration: none;
	color: red;
}

h1>a{
	color:red;
	text-decoration: none;
}


#container {
	max-width: 900px;
	color:#777777;
	
}

nav {
	text-align: center;
}

img {
	max-width: 100%;
}

p:first-letter{
	float:left;
	font-size:75px;
	line-height:1;
	margin-right: 5px;
	margin-top: -5px;

}

h1, h2 {
	display: inline-block;
	position: relative;
	bottom: 0px;
}

article {
	margin: 10px;
}

article>h2>a{
	color: #777777;
	text-decoration:none;
}

article>h4>a {
	float: right;
	color: red;
	text-decoration:none;
	margin-bottom:20px;
}

header>nav>ul>li {
	display: inline;
	padding: 10px;
	background-color: black;
}

nav>ul>li>a {
	color: white;
}

h2, article>h2>a{
	color: #333333;
}

hr {
	width: 100%;
}

#main-column {
	
	max-width: 67%;
	float: left;
}

footer {
	
	text-align:center;
	clear: both;
}

footer>nav>a {
	text-decoration: none;
	color:red;

}

#right-column {
	
	max-width: 33%;
	float: left;
}




