*{
     box-sizing:border-box;
}

*:not(body):not(#container):
     not(header){
          border: 1px solid black;
          min-height: 50px;
     }

ul{
     padding: 0;
     overflow: auto;
}

li {
     border: 1px black;
     width: 16%;
     margin:.333%;
     float: left;
}

li:last-child {
     float: right;
     display: none;
}
.no-border{
     border:none;
     overflow: auto;
}
.quarter{
     width:20%;
     margin:10px 2.5%;
     float:left;
     height:100px;

}
.third{
     width:30%;
     margin:10 px 1.66666666%;
     height:100px;
     float:left;
}
footer{
     overflow:auto;
     padding:10px;
}
#main{
     height:200px;
     margin: 10px 0;
}

/*Do not touch the code above me*/

li{
     display:none;

}
li:last-child{
     display:inline-block;
}
.quarter, .third{
     float:none;
     width:100%;
     margin-left: 0;
     margin-right: 0;
     -webkit-transition:width 30s linear;
     transition:width 30s linear;
}

/* media query */

@media (max-width: 768px){
    li{
     display:none;

}
li:last-child{
     display:inline-block;
}
.quarter, .third{
     float:none;
     width:100%;
     margin-left: 0;
     margin-right: 0;
     } 
}

/* in javascript */




